<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/6/6e/UAGRM_Logo_Minimalista_Preciso.png"
        type="image/icon type">
    {{!-- CSS BOOTSTRAP 4.6.0 --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {{!-- MATERIAL ICONS --}}
    {{!-- LINK ICONS: https://fonts.google.com/icons?selected=Material+Icons&icon.query=delete --}}
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    {{!-- GOOGLE FONTS --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap" rel="stylesheet">
    <title>Arquitectura de Software</title>
</head>

<body
    style="background: #f12711; background: -webkit-linear-gradient(to left, #f5af19, #f12711); background: linear-gradient(to left, #f5af19, #f12711); font-family: 'Montserrat', sans-serif; font-size:15px;">